matrix:
  include:
    - language: cpp
      os: linux
      dist: focal
      compiler: gcc
      script:
        - cmake -S. build
        - cd build
        - cd v2xmessage
        - make
        - ctest
        - cd ../
        - cd v2verifier-app
        - make
        - ctest
        - cd ../
    - language: cpp
      os: osx
      compiler: clang
      script:
        - mkdir build
        - cd build
        - cmake ../
        - cd v2xmessage
        - make
        - ctest
        - cd ../
        - cd v2verifier-app
        - make
        - ctest
        - cd ../


