name: Doxygen GitHub Pages Deploy Action

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: twardokus/doxygen-github-pages-action@v0.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: docs
          folder: docs/html
          config_file: docs/Doxyfile